@font-face {
  font-family: 'fontello';
  src: url('../font/siscc/fontello.eot?41866273');
  src: url('../font/siscc/fontello.eot?41866273#iefix') format('embedded-opentype'),
       url('../font/siscc/fontello.woff2?41866273') format('woff2'),
       url('../font/siscc/fontello.woff?41866273') format('woff'),
       url('../font/siscc/fontello.ttf?41866273') format('truetype'),
       url('../font/siscc/fontello.svg?41866273#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'fontello';
  src: url('../font/material/fontello.eot?75104453');
  src: url('../font/material/fontello.eot?75104453#iefix') format('embedded-opentype'),
       url('../font/material/fontello.woff2?75104453') format('woff2'),
       url('../font/material/fontello.woff?75104453') format('woff'),
       url('../font/material/fontello.ttf?75104453') format('truetype'),
       url('../font/material/fontello.svg?75104453#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?41866273#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 [class^="material-"]:before, [class*=" material-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-concept:before { content: '\e800'; } /* '' */
.icon-data-structure:before { content: '\e801'; } /* '' */
.icon-data-view:before { content: '\e802'; } /* '' */
.icon-api:before { content: '\e803'; } /* '' */
.icon-bar:before { content: '\e80e'; } /* '' */
.icon-row:before { content: '\e80f'; } /* '' */
.icon-log-in:before { content: '\e810'; } /* '' */
.icon-log-out:before { content: '\e811'; } /* '' */
.icon-hsymbol2:before { content: '\e814'; } /* '' */
.icon-vsymbol2:before { content: '\e815'; } /* '' */
.icon-scatter2:before { content: '\e816'; } /* '' */
.icon-timeline2:before { content: '\e818'; } /* '' */
.icon-blank:before { content: '\e819'; } /* '' */
.icon-table:before { content: '\e834'; } /* '' */
.icon-row-layout:before { content: '\e835'; } /* '' */
.icon-column-layout:before { content: '\e837'; } /* '' */
.icon-sort-asc:before { content: '\e83f'; } /* '' */
.icon-sort-desc:before { content: '\e840'; } /* '' */
.icon-filter:before { content: '\e884'; } /* '' */

.material-error:before { content: '\e804'; } /* '' */
.material-done:before { content: '\e805'; } /* '' */
.material-publish:before { content: '\e806'; } /* '' */
.material-more_vert:before { content: '\e808'; } /* '' */
.material-check_circle:before { content: '\e809'; } /* '' */
.material-first_page:before { content: '\e80b'; } /* '' */
.material-more_horiz:before { content: '\e80c'; } /* '' */
.material-chevron_left:before { content: '\e80d'; } /* '' */
.material-delete_forever:before { content: '\e812'; } /* '' */
.material-blank:before { content: '\e819'; } /* '' */
.material-account_circle:before { content: '\e83b'; } /* '' */
.material-add_circle_outline:before { content: '\e83c'; } /* '' */
.material-arrow_drop_down:before { content: '\e83d'; } /* '' */
.material-arrow_drop_up:before { content: '\e83e'; } /* '' */
.material-asterisk:before { content: '\e83f'; } /* '' */
.material-bookmark_border:before { content: '\e840'; } /* '' */
.material-bookmark:before { content: '\e841'; } /* '' */
.material-chevron_right:before { content: '\e844'; } /* '' */
.material-close:before { content: '\e845'; } /* '' */
.material-expand_less:before { content: '\e849'; } /* '' */
.material-expand_more:before { content: '\e84a'; } /* '' */
.material-format_align_left:before { content: '\e84c'; } /* '' */
.material-fullscreen_exit:before { content: '\e84d'; } /* '' */
.material-fullscreen:before { content: '\e84e'; } /* '' */
.material-get_app:before { content: '\e84f'; } /* '' */
.material-help:before { content: '\e850'; } /* '' */
.material-info:before { content: '\e851'; } /* '' */
.material-last_page:before { content: '\e852'; } /* '' */
.material-layers:before { content: '\e853'; } /* '' */
.material-lens:before { content: '\e854'; } /* '' */
.material-menu:before { content: '\e855'; } /* '' */
.material-notifications:before { content: '\e858'; } /* '' */
.material-refresh:before { content: '\e85a'; } /* '' */
.material-remove_circle:before { content: '\e85b'; } /* '' */
.material-search:before { content: '\e85c'; } /* '' */
.material-settings:before { content: '\e85d'; } /* '' */
.material-share:before { content: '\e85e'; } /* '' */
.material-sort:before { content: '\e85f'; } /* '' */
.material-swap_horiz:before { content: '\e860'; } /* '' */
.material-tune:before { content: '\e861'; } /* '' */
.material-undo:before { content: '\e862'; } /* '' */
.material-visibility_off:before { content: '\e865'; } /* '' */
.material-visibility:before { content: '\e866'; } /* '' */
.material-arrow_back:before { content: '\e867'; } /* '' */
.material-arrow_forward:before { content: '\e868'; } /* '' */
.material-arrow_right:before { content: '\e8d0'; } /* '' */
.material-arrow_left:before { content: '\e8d1'; } /* '' */