html, body {
	font-family: 'Open Sans', sans-serif;
}
body {
	background: #fff;
}
a, a:hover, a:active, a:focus {
	color: #2973bd;
}
h1 {
	margin:0;
}
h2 {
	font-weight: bold;
	margin-bottom:30px;
}
h3 {
	margin:0 0 10px 0;
}
h4 {
	font-weight: bold;
	line-height: 24px;
}
h5 {
	margin-bottom:15px;
	font-weight:bold;
	text-transform: uppercase;
}
label {
	display: inline-block;
	font-weight: 700;
	margin-bottom: 5px;
	max-width: 90%;
}
hr {
	border-top: 1px solid #ccc;
	margin: 12px 0;
}
option {
	padding: 5px;
}
table { 
	width: 100%; 
	border-collapse: collapse; 
}
footer {
	background: #0f629a;
	color: #fff;
	padding: 20px;
}
footer a, footer a:hover {
	color:#fff;
}
#top {
	bottom: 15px;
	cursor: pointer;
	position: fixed;
	right: 15px;
	z-index: 9999;
}
.p25-0 {
	padding: 25px 0;
}
.m10-btm {
	margin-bottom: 10px;
}
.m10-top {
	margin-top: 10px;
}
.container.main {
	margin-top: 15px;
	margin-bottom: 40px;
}
.block {
	display:block;
}

/*--- HEADER AND NAVIGATION ---*/

header .logo {
	margin: 15px 0;
	max-width: 100%;
	max-height: 100%;
}
header .mini-admin {
	margin-bottom: 0px;
	padding: 5px 0;
}
.navbar h1 {
	font-size: 18px;
}
.navbar-brand {
	color: #fff !important;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #fff;
}
.navbar-default {
	background: #11629A;
	color: #fff;
}
.nav>li>a {
	padding: 8px 25px;
	line-height: 25px;
	font-size: 16px;
	font-weight: 600;
}
.navbar {
	position: relative;
	min-height: 30px;
	margin-bottom: 20px;
	border: none;
}
.navbar-brand {
	float: left;
	height: 40px;
	padding: 8px 15px;
	font-size: 19px;
	line-height: 25px;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #11629A;
	background-color: #fff;
}
.breadcrumb {
	padding: 0;
	margin-bottom: 0;
	list-style: none;
	background: none;
	border-radius: 0;
	color: #fff;
}
.breadcrumb>.active {
	color: #eee;
}
.breadcrumb>li+li:before {
	color: #fff;
}
.breadcrumb a {
	color: #fff;
}
.container-green .container {
	position: relative;
}
.dropdown-toggle i {
	color: #8FB4CF;
	font-size: 10px;
	margin-left: 7px;
}
@media (max-width: 768px) {
	.logo {
		height: 50px;
	}
	.navbar-brand {
		font-size: 16px;
		padding-top: 12px;
	}
	.navbar {
		margin-bottom: 5px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		color: #eee;
	}
}

/*--- SEARCH AND ADVANCED SEARCH ---*/

.my-group input.form-control{
	width:60%;
}
.my-group select.form-control{
	width:40%;
}

.container-green {
	background: #8CC841;
	margin: -20px 0 20px 0;
	padding: 15px 0px 15px 0px;
	position: relative;
}
.container-green.index {
	padding: 30px 0px 20px 0px;
	margin: -20px 0 0 0;
}
.option1 {
	width: 75%;
}
select.option2, select.option3, select.option4 {
	width:30% !important;
}
input.option2, input.option3, input.option4 {
	width:45% !important;
}
.search-helper {
	color: #fff;
	display: block;
	margin: 10px 0 5px 0;
	text-align: center;
}
.clear-search {
	color:#fff;
	line-height: 46px;
}
.container-advsearch {
	background: #ecf0f5;
	margin: 0;
	padding: 0px;
	border-bottom: 10px solid #8CC841;
}
.container-advsearch .container{
	padding: 20px 0;
}
.container-advsearch div[class*="col-"] {
	padding-bottom: 15px;
}
.btn-specify {
	position: absolute;
	top:-25px;
	right: 504px;
	border-radius: 0 0 3px 3px;
	z-index: 500;
	background: #8CC841;
	border: none;
	padding: 5px 20px;
	outline: none;
}
.btn-specify { 
	color: #FFFFFF; 
	background-color: #8CC841; 
	border: none; 
}
.btn-specify:hover, 
.btn-specify:focus, 
.btn-specify:active, 
.btn-specify.active, 
.open .dropdown-toggle.btn-specify { 
	color: #FFFFFF; 
	background-color: #8CC841; 
	border: none;
	outline: none;
}
.btn-specify:active, 
.btn-specify.active, 
.open .dropdown-toggle.btn-specify { 
	background-image: none; 
	outline: none;
}
.btn-specify.disabled, 
.btn-specify[disabled], 
fieldset[disabled] .btn-specify, 
.btn-specify.disabled:hover, 
.btn-specify[disabled]:hover, 
fieldset[disabled] .btn-specify:hover, 
.btn-specify.disabled:focus, 
.btn-specify[disabled]:focus, 
fieldset[disabled] .btn-specify:focus, 
.btn-specify.disabled:active, 
.btn-specify[disabled]:active, 
fieldset[disabled] .btn-specify:active, 
.btn-specify.disabled.active, 
.btn-specify[disabled].active, 
fieldset[disabled] .btn-specify.active { 
	background-color: #8CC841; 
	border: none; 
	outline: none;
}
.date-left {
	padding-bottom:0 !important;
	padding-right: 3px;
}
.date-right {
	padding-bottom:0 !important;
	padding-left: 3px;
}
@media (max-width: 1199px) {
	.btn-specify {
		right: 404px;
	}
}
@media (max-width: 991px) {
	.btn-specify {
		right: 294px;
	}
}
@media (max-width: 768px) {
	.btn-specify {
		position: absolute;
		border-radius: 0;
		z-index: 10;
		width: 100%;
		margin:0;
		left: 0;
		background: #eee;
		border: 1px solid #ddd;
		color: #333;
	}
	.search-helper {
		text-align: left;
	}
	.container-advsearch .container {
		padding: 10px 15px;
	}
	.container-green {
		margin: -5px 0 20px 0;
		padding: 15px 0px 15px 0px;
	}
	.container-green.index {
		margin: -5px 0 0 0;
		padding: 15px 0px 15px 0px;
	}
}

.segment {
	width:25%;
}
@media (max-width: 768px) {
	.segment {
		width: 100%;
	}
	.option1 {
		width: 100%;
	}
}

/*--- INPUT AND FORMS ---*/

.form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	color: #555;
	background-color: #f9f8f5;
	background-image: none;
	border-top: 1px solid #9e9d9c;
	border-right: 1px solid #dad9d8;
	border-left: 1px solid #a7a6a5;
	border-bottom: 1px solid #dad9d8;
	border-radius: 0px;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
.form-control:focus {
	border-top: 1px solid #9e9d9c;
	border-right: 1px solid #dad9d8;
	border-left: 1px solid #a7a6a5;
	border-bottom: 1px solid #dad9d8;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.clearable{
	background: #f9f8f5 url(../images/clear.gif) no-repeat right -10px center;
	padding: 3px 18px 3px 4px; /* Use the same right padding (18) in jQ! */
	transition: background 0.4s;
	border-top: 1px solid #9e9d9c;
	border-right: 1px solid #dad9d8;
	border-left: 1px solid #a7a6a5;
	border-bottom: 1px solid #dad9d8;
}
.clearable.x {
	background-position: right 5px center;
}
.clearable.onX {
	cursor: pointer;
}
.clearable::-ms-clear {
	display: none;
	width:0;
	height:0;
}
.multiselect-item.filter {
	padding: 10px;
}
.multiselect-item .multiselect-search {
	width: 100%;
}
.multiselect-container.dropdown-menu {
	width: 100%;
	padding-bottom: 15px;
}
.btn-mselect {
	text-align: left;
	background: #f9f8f5;
	border-top: 1px solid #9e9d9c;
	border-right: 1px solid #dad9d8;
	border-left: 1px solid #a7a6a5;
	border-bottom: 1px solid #dad9d8;
	border-radius: 0px;
	color: #555;
	font-size: 12px;
	padding: 5px 12px;
	height: 30px;
}

/*--- RESULT TABLES AND PAGINATION ---*/

.pagination {
	display: inline-block;
	padding-left: 0;
	margin: 0 0 -4px 0;
	border-radius: 4px;
}
.records {
	padding: 0;
	border-bottom: 1px solid #ccc;
	height: 51px;
	line-height: 51px;
	font-weight: bold;
	margin-bottom: 5px;
}
.thumb-picture {
	width: 54px;
	height: 54px;
	border: 1px solid #ccc;
	display:table-cell;
	padding:2px;
	margin:0;
	text-align: center;
	vertical-align: middle;
	background: #fff;
}
.results {
	margin-top: 15px;
	position: relative;
}
.table-searchresults.table > tbody > tr > td,
.table-searchresults.table > tbody > tr > th,
.table-searchresults.table > tfoot > tr > td,
.table-searchresults.table > tfoot > tr > th,
.table-searchresults.table > thead > tr > td,
.table-searchresults.table > thead > tr > th {
	vertical-align: middle;
}
@media only screen and (max-width: 768px) {
	/* Force table to not be like tables anymore */
	table.table-merged, .table-merged thead, .table-merged tbody, .table-merged th, .table-merged td, .table-merged tr { 
		display: block; 
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	.table-merged thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	.table-merged td { 
		border: none;
		border-bottom: 1px solid #ddd; 
		position: relative;
		padding-left: 40%; 
	}
	.table-searchresults td { 
		padding-left: 40% !important; 
	}
	.table-searchresults tr {
		border: 1px solid #ccc;
	}
	.table-merged td:before { 
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	.table-merged td {
		overflow: hidden;
	}
	.table-merged.table>tbody>tr>td,
	.table-merged.table>tbody>tr>th {
		border-top: 0;
	}
	.table-searchresults td:nth-of-type(1):before { content: "Date"; }
	.table-searchresults td:nth-of-type(2):before { content: ""; }
	.table-searchresults td:nth-of-type(3):before { content: "Product Name"; }
	.table-searchresults td:nth-of-type(4):before { content: "Jurisd. of recall"; }
	.table-searchresults td:nth-of-type(5):before { content: "Language"; }
	.table-searchresults td:nth-of-type(6):before { content: ""; }
	.table-searchresults td:nth-of-type(7):before { content: ""; }
	
	.records {
		padding: 0;
		text-align: left;
		line-height: 20px;
		height: auto;
		margin-top: 10px;
	}
	
	.results {
		padding-top: 0px;
	}
	.fullscreen .modal-dialog {
		margin: 0 -15px 0 0;
		height: 100%;
	}
	.fullscreen .modal-content {
		height: auto;
		min-height: 100%;
		border-radius: 0;
	}
}
.sort-list {
	display: block;
	padding: 0;
	width: 100%;
}
.sort-list label {
	margin: 0 1px 0 0;
	overflow: auto;
	padding: 0;
	width: 100%;
	max-width: 100%;
}
.sort-list label span {
	padding:10px 20px 10px 40px;
	display: block;
	background: url(../images/fa-circle-o.png) no-repeat 14px 12px;
}
.sort-list label input {
	position: absolute;
	top: -4400px;
}
.sort-list input:checked + span {
	background:#adcbe7 url(../images/fa-check-circle.png) no-repeat 14px 12px;
	color:#0871b5;
}
.sort-list .active {
	background-color:#e7e7e7;
	color:#0871b5;
	cursor: pointer;
}
.sort-list .active input[disabled] + span{
	background-color:#e7e7e7;
	color:#9d9d9d;
	cursor: default;
}
.sort-list h2 {
	padding: 0;
	margin:0 0 20px 0;
	font-size: 20px;
}
.fullscreen .modal-body {
	padding: 0 15px;
}
.fullscreen .line-top {
	border: 0px;
	background: #e7e7e7;
	padding: 10px 14px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.42857143;
	margin:0 0 10px 0;
	color: #0871b5;
}


/*--- DETAILS ---*/

.codes {
	width:30%;
}
.btn-close {
	position: absolute;
	height: 40px;
	width: 45px;
	line-height: 12px;
	text-align: center;
	padding:2px 0 0 0;
	border-radius: 5px;
	right: 15px;
	top:-10px;
}
.close-window {
	font-size: 20px;
}
.carousel {
	height: 310px;
	overflow: hidden;
	background:#fff;
	border: 1px solid #ccc;
	padding: 4px;
	margin-bottom: 20px;
}
.carousel img {
	max-height: 300px;
	margin:0 auto;
}
.media {
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	margin-bottom: 20px;
}
.media.endorsements .title {
	font-weight: bold;
	line-height: 18px;
}
.partners hr {
	margin:30px 0 10px 0;
}
.partners img {
	max-width: 100%;
	margin: 15px 0;
}
.media-object {
	border: 1px solid #ddd;
	padding: 2px;
	background:#eee;
}
@media (max-width: 768px) {
	.codes {
		width: 50%;
	}
	.media.endorsements .media-left,
	.media.endorsements .media-right {
		display: block;
	}
}
@media (max-width: 992px) {
	.codes {
		width: 50%;
	}
}
.cat-code {
	display: none;
}

/*--- FOOTER ---*/

footer {
	margin-bottom: 0px;
}
.disclaimer {
	background: #ecf0f5;
	margin: 15px 0 -15px 0;
	padding: 10px 0 30px 0;
}

/* --- INTRO JS ---*/

.introjs-helperNumberLayer {
	width: 30px;
	height: 30px;
	background: #8CC841;
	border: none;
	border-radius: 0;
	line-height: 28px;
	font-size: 17px;
	top: -35px;
	left: 0;
}
.introjs-button {
	padding: 0.3em 0.8em;
	border: 1px solid #d4d4d4;
	text-decoration: none;
	text-shadow: 1px 1px 0 #fff;
	font-size: 12px;
	color: #2971bd;
	background: none;
	border-radius: 0;
}
.introjs-helperLayer {
	position: absolute;
	z-index: 9999998;
	background-color: #FFF;
	background-color: rgba(255,255,255,.9);
	border: 2px solid #8CC841;
	/*border: 1px solid rgba(0,0,0,.5);*/
	border-radius: 0;
}
.introjs-tooltip {
	padding: 20px;
	border-radius: 0;
	font-size: 16px;
	min-width: 400px;
}
.introjs-disabled {
	color: #9a9a9a;
	background: #f1f1f1;
}
.introjs-skipbutton {
	float: left;
}

/* --- FIXED NAV --- */
@media (max-width: 768px) {
	.fixed-nav{ 
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		z-index: 999; 
	}
	.topmargin{
		margin-top: 83px;
	}
	 
	/*Optional styles, Added for demo*/
	 
	.content-wrap{
		min-height: 1000px; /*Added to get browse scroll- demo*/
	}
	.navbar-default .navbar-nav > li > a,
	.navbar-default .navbar-brand{
		color: #fff;
	}
	.search-info {
		display: none;
	}
}
@media (max-width: 768px) {
	.container-green.index .my-group.input-group {
		display: block;
	}
	.container-green.index .my-group.input-group select , .container-green.index .my-group.input-group input, .container-green.index .my-group.input-group select , .container-green.index .my-group.input-group .input-group-btn {
		display: block;
		float: none;
		width: 100%;
	}
	.container-green.index .my-group.input-group .input-group-btn .btn {
		display: block;
		width: 100%;
		border-radius: 0 0 5px 5px !important;
		margin:0 0 10px 0!important;
	}
}

.usedfilters {
	font-size: 12px;
}
.filter {
	background: #deeaf1;
	padding: 3px 8px;
	margin: 0px 3px 3px 0px;
	display: inline-block;
}
.filter.clear {
	background:#337ab7;
	color: #fff;
}
.filter.clear a {
	color: #fff;
}

/* --- FILTER SIDEBAR --- */

.line-top {
	border-top: 1px solid #999;
	padding-top: 6px;
	margin-bottom: 22px;
	font-size: 15px;
}
.list-filters {
	list-style: none;
	padding:0;
	margin: 0;
}
.list-filters {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}
.list-filters li {
	border: 1px solid #f6f6f6;
	margin: 0 0 5px 0;
	background-color: #f6f6f6;
	position: relative;
}
.list-filters a {
	display: inline-block;
	border-radius: 2px;
	/*font-family: Caecilia, Georgia, serif;
	font-size: 18px;*/
	line-height: 20px;
	padding: 6px 8px 6px 34px;
	/*margin: 0 0 0 30px;*/
}
.list-filters li.active {
	border-color: #0b71b0;
	background-color: #0b71b0;

	
}
.list-filters li.active a {
	color: white;
	text-decoration: none;
}
.list-filters li.active a:after {
	content: "\00D7";
	color: #bfe4fb;
	padding-left: 6px;
	padding-right: 6px;
	position: absolute;
	right: 6px;
}
.list-filters li.active.level a:after {
	content: "\2039";
	color: #bfe4fb;
	padding-left: 6px;
	padding-right: 6px;
	position: absolute;
	right: 6px;
	font-size: 25px;
	top:2px;
}
.list-filters a i {
	margin: 0 5px 0 0px;
	position: absolute;
	left: 0px;
	top:0;
	padding: 6px 8px;
	line-height: 20px;
	width: 26px;
	
}