@font-face { font-family: 'Bernini'; font-weight: normal; font-style: normal; src: url(../fonts/BerniniSans-Web-OECD-Regular.eot); src: url(../fonts/BerniniSans-Web-OECD-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/BerniniSans-Web-OECD-Regular.woff) format("woff"), url(../fonts/BerniniSans-Web-OECD-Regular.ttf) format("truetype"); }
 
@font-face { font-family: 'Bernini'; font-weight: bold; font-style: normal; src: url(../fonts/BerniniSans-Web-OECD-Bold.eot); src: url(../fonts/BerniniSans-Web-OECD-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/BerniniSans-Web-OECD-Bold.woff) format("woff"), url(../fonts/BerniniSans-Web-OECD-Bold.ttf) format("truetype"); }
 
@font-face { font-family: 'Bernini'; font-weight: normal; font-style: italic; src: url(../fonts/BerniniSans-Web-OECD-Italic.eot); src: url(../fonts/BerniniSans-Web-OECD-Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/BerniniSans-Web-OECD-Italic.woff) format("woff"), url(../fonts/BerniniSans-Web-OECD-Italic.ttf) format("truetype"); }
 
@font-face { font-family: 'PT Sans Narrow'; font-weight: normal; font-style: normal; src: url(../fonts/BerniniSans-Web-OECD-NarrowRegular.eot); src: url(../fonts/BerniniSans-Web-OECD-NarrowRegular.eot?#iefix) format("embedded-opentype"), url(../fonts/BerniniSans-Web-OECD-NarrowRegular.woff) format("woff"), url(../fonts/BerniniSans-Web-OECD-NarrowRegular.ttf) format("truetype"); }
 
@font-face { font-family: 'PT Sans Narrow'; font-weight: bold; font-style: normal; src: url(../fonts/BerniniSans-Web-OECD-NarrowBold.eot); src: url(../fonts/BerniniSans-Web-OECD-NarrowBold.eot?#iefix) format("embedded-opentype"), url(../fonts/BerniniSans-Web-OECD-NarrowBold.woff) format("woff"), url(../fonts/BerniniSans-Web-OECD-NarrowBold.ttf) format("truetype"); }
 
 

@font-face { font-family: 'Caecilia'; font-weight: normal; font-style: normal; src: url(../fonts/caecilia-normal-normal.eot); src: url(../fonts/caecilia-normal-normal.eot?#iefix) format("embedded-opentype"), url(../fonts/caecilia-normal-normal.woff) format("woff"), url(../fonts/caecilia-normal-normal.ttf) format("truetype"), url(../fonts/caecilia-normal-normal.svg#a4e88dbd-bcf4-477c-9152-feef16a8e27d) format("svg"); }

@font-face { font-family: 'Caecilia'; font-weight: normal; font-style: italic; src: url(../fonts/caecilia-normal-italic.eot); src: url(../fonts/caecilia-normal-italic.eot?#iefix) format("embedded-opentype"), url(../fonts/caecilia-normal-italic.woff) format("woff"), url(../fonts/caecilia-normal-italic.ttf) format("truetype"), url(../fonts/caecilia-normal-italic.svg#f71e9c76-1044-4c12-acbb-a9be83df23e5) format("svg"); }

@font-face { font-family: 'Caecilia'; font-weight: bold; font-style: normal; src: url(../fonts/caecilia-bold-normal.eot); src: url(../fonts/caecilia-bold-normal.eot?#iefix) format("embedded-opentype"), url(../fonts/caecilia-bold-normal.woff) format("woff"), url(../fonts/caecilia-bold-normal.ttf) format("truetype"), url(../fonts/caecilia-bold-normal.svg#7447513d-8867-4753-9c62-3b057094223a) format("svg"); }

@font-face { font-family: 'Caecilia'; font-weight: bold; font-style: italic; src: url(../fonts/caecilia-bold-italic.eot); src: url(../fonts/caecilia-bold-italic.eot?#iefix) format("embedded-opentype"), url(../fonts/caecilia-bold-italic.woff) format("woff"), url(../fonts/caecilia-bold-italic.ttf) format("truetype"), url(../fonts/caecilia-bold-italic.svg#c92d9753-c501-44aa-9e48-e1675cd0d5b0) format("svg"); }

html, body {
	height: 100%;
	padding:0;
	margin:0;
}
body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 22px;
	color: #494444;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}
a {
    text-decoration: none;
    color: #2973bd;
}
a:hover {
	color: #0e90e0;
	text-decoration: none;
}
hr {
    margin: 10px 0;
}
.btn-block {
    display: block !important;
    text-align: center;
}
.collapse-btn {
    margin-top: 4px;
}
footer {
	border-top: 1px solid #ccc;
	padding: 10px 0 0 0;
	background: #f0f0f0;
}
.width100 {
	width: 100%;
}
.margin20 {
	margin: 20px;
}
.margint20 {
	margin-top:20px;
}
.clearfix {
	clear: both;
}
.search-well {
	/*background: #4c9ced;*/
	background: #0965c1;
	padding: 40px 0 30px 0;
	margin-bottom: 20px;
	color: #eee;
	
}
.metadata-well {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,eeeeee+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffffff 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffffff 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}
.pt-block {
	display: block;
}
.pt-tree-node-content {
	color: #2973bd;
	padding-left: 3px;
	cursor: pointer;
}
.pt-tree-node-content:hover {
	color: #0e90e0;
	padding-left: 3px;
}
.pt-tag-remove {
	color: #2973bd;
	opacity:1;
}
.pt-tag-remove:hover {
	color: #0e90e0;
	opacity:1;
}
.line {
	border-bottom:1px solid #ddd;
	width: 100px;
	padding: 4px 0 0 0;
	margin: 0 0 4px 0;
}
.pt-card {
	/*padding: 8px 20px;*/
	padding:1px;
	border-radius: 0;
	border:0;
	background: none;
	box-shadow:none;
}
.results .pt-card {
	padding: 8px 0px;
	/*padding:1px;*/
	border-radius: 0;
	border-bottom:1px solid #ccc;
	background: none;
	box-shadow:none;
	margin-bottom: 10px;
}
.filter-box {
	border-bottom: 0px solid #eee;
	padding: 0;
	margin-bottom: 25px;
	/*max-width: 274px;*/
}
.scrollable {
	max-height: 250px;
	overflow: auto;
}
.scrollable::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

.scrollable::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
.filter-box h3 {
	border-top: 2px solid #999;
    padding-top: 2px;
    margin-bottom: 10px;
    font-size: 15px;
    line-height: 22px;
    color: #666;
    font-family: "PT Sans Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 0px;
    position: relative;
}
.filter-box h3 .pt-icon-standard {
	position: absolute;
	top:0;
	right:0;
	font-size: 18px;
	line-height: 1.5;
}
.filter-box .separator {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 10px;
}
.pt-breadcrumb {
	color: #a4a1a1;
	font-family: PT Sans Narrow, "PT Sans Narrow Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 22px;
}
.pt-breadcrumbs > li::after {
    line-height: 1;
	font-family: "PT Sans Narrow", "PT Sans Narrow Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #a4a1a1;
    padding: 0 0.4em;
    content: "› ";
}
.pt-bigtable tr th {
	/*background: #deeaf1;*/
	border-top: 1px solid #999;
}
.pt-bigtable tr td {
	border-bottom: 1px solid #eee;
}
.collapse-open {
	background: #eef4f8;
}
.structure-row {
	border-left: 10px solid #eee;
	border-bottom: 1px solid #ccc;
	margin: 0 0 0 0px;
}
.color01 {
	border-left: 10px solid #0b71b0;
}
.color02 {
	border-left: 10px solid #8cc841;
}
.color03 {
	border-left: 10px solid #cc0000;
}
.color04 {
	border-left: 10px solid #00ced1;
}
.color05 {
	border-left: 10px solid #ff5a00;
}
.color06 {
	border-left: 10px solid #ffdc1a;
}
.color07 {
	border-left: 10px solid #3399ff;
}
.color08 {
	border-left: 10px solid #404040;
}
.color09 {
	border-left: 10px solid #8a2be2;
}
.color10 {
	border-left: 10px solid #daa520;
}
.dataspaces .pt-control.pt-checkbox:before {
	margin-right:5px;
	content:"";
	border-width: 0 8px;
	border-style: solid;
	border-radius: 16px;
}
.pt-control.pt-checkbox.color01:before {
	border-color: #0b71b0;
}
.pt-control.pt-checkbox.color02:before {
	border-color: #8cc841;
}
.pt-control.pt-checkbox.color03:before {
	border-color: #cc0000;
}
.pt-control.pt-checkbox.color04:before {
	border-color: #00ced1;
}
.pt-control.pt-checkbox.color05:before {
	border-color: #ff5a00;
}
.pt-control.pt-checkbox.color06:before {
	border-color: #ffdc1a;
}
.pt-control.pt-checkbox.color07:before {
	border-color: #3399ff;
}
.pt-control.pt-checkbox.color08:before {
	border-color: #404040;
}
.pt-control.pt-checkbox.color09:before {
	border-color: #8a2be2;
}
.pt-control.pt-checkbox.color10:before {
	border-color: #daa520;
}
.pt-control.pt-checkbox {
	border:none;
}
.page-title {
	font-size: 22px;
	padding: 0;
	margin: 10px 0 15px 0;
}
.page-inner-title {
	padding-top: 6px;
	border-top: 2px solid #999;
	margin: 1px 0 16px 0;
}
.updated {
	color: #666;
	font-size: 12px;
	margin-left: 5px;
}
/*.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0;
    border-radius: 4px;
}
.pagination>li {
    display: inline;
}
.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}*/
.pt-button .pt-icon, .pt-button .pt-icon-standard, .pt-button .pt-icon-large {
	margin:0;
}
.pt-button.pt-minimal.pt-burger {
	margin-top: 10px;
}
.pt-navbar {
	background: #f0f0f0;
	padding: 0 8px;
}
.pt-navbar.pt-siscc {
	height: 50px;
}
.pt-navbar.pt-dlm {
	height: 60px;
	background: #1c1c22;
}
.pt-navbar.pt-siscc .pt-navbar-group {
	height: 50px;
}
.pt-navbar.pt-dlm .pt-navbar-group {
	height: 60px;
}
.pt-navbar.pt-dlm .pt-navbar-group.pt-align-right {
	width: ;
	color: #fff;
}
.pt-navbar.pt-dlm button, .pt-navbar.pt-dlm button:before, .pt-navbar.pt-product a,
.pt-navbar.pt-dlm a, .pt-navbar.pt-dlm a:before {
	color: #fff !important;
}
.pt-navbar.pt-dlm .pt-navbar-divider {
	border-left: 1px solid #ccc;
}
.logo {
	max-height: 48px;
	margin-top: 4px;
	max-width:100%;
}
.pt-navbar.pt-siscc .logo {
	max-height: 45px;
	margin-top:4px;
}
.searchbar {
	color: #fff;
	padding-top:15px;
}
@media screen and (max-width: 768px) {
	.pt-navbar.pt-dlm {
		height: auto;
	}
	.pt-navbar.pt-dlm .pt-navbar-group.pt-align-right {
		width: 100%;
		clear:both;
	}
	.pt-navbar.pt-dlm .pt-navbar-group {
		height: auto;
	}
	.pt-breadcrumbs {
		padding-bottom:20px;
	}
	.searchbar {
		padding-bottom:15px;
	}
}
.mobile-search {
	float: right;
	padding-top: 15px;
}
@media screen and (min-width: 769px) {
	.mobile-search {
		display: none;
	}
	.searchbar.collapse {
		display: block;
	}
}
[bp-layout~='row'] {
    margin-left: 0px;
    margin-right: 0px;
}
.pt-tag.pt-filter {
	padding: 6px 20px 6px 12px;
	line-height: 1.42857143;
	background-color: #fff;
    border: 1px solid #ddd;
    border-radius:0;
    margin-bottom: 2px;
}
.pt-filter .pt-tag-remove {
    line-height: 1.5;
}
.pt-tag.pt-filter.pt-minimal:not([class*="pt-intent-"]) {
    background-color: rgba(138, 155, 168, 0);
    color: #182026;
}
.pt-tag.pt-minimal.pt-intent-primary {
    background-color: rgba(206, 217, 224, 0.5);
    color: #2973bd;
}
.pt-minimal.pt-category {
    padding: 0;
    border: 0;
    background: none !important;
}
.pt-minimal.pt-category .pt-tag-remove {
    padding: 0;
    margin: 0;
    position: relative;
    font-size: 14px;
}
.pt-text-muted {
	/*color: #f7a32c;
	margin: 0 10px;*/
	color: #ccc;
}
.text-muted {
	color: #aaa;
}
.roboto {
	font-family: 'Roboto Slab', serif;
    font-weight: 400;
}
h3 {
	font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: 17px;
    color: #a4a1a1;
    
}
.cg h3 {
	color: #686868;
	margin-top: 15px;
}
h2 {
	font-family: "PT Sans Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    color: #222;
    padding:0 0 10px 0;
    margin:0 0 20px 0;
    line-height: 24px;
    position: relative;
}
h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75px;
    height: 6px;
    background: #f7a32c;
    content: '';
    border-radius: 10px;
}
h3.home-topics {
	border-top: 2px solid #999;
    padding-top: 2px;
    margin: 20px 0 10px 0;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    font-family: "PT Sans Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    margin-top: 0px;
    position: relative;
}
h3.dataset {
    font-size: 20px;
    color: #494444;
}
h3.layout {
    font-size: 17px;
    color: #494444;
}
blockquote {
    line-height: 1.5;
    font-size: 14px;
    margin: 0 0 8px 0;
    border-left: solid 0px rgba(167, 182, 194, 0.5);
    padding: 0 0 5px 0;
    color: #a4a1a1;
}
.badge {
    display: block;
    min-width: 10px;
    padding: 2px 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background: #8CC841;
    border-radius: 4px;
    float: right;
    margin-right: 24px;
    margin-top: 2px;
}
@media screen and (max-width: 768px) {
    .badge {
        margin-right: 24px;
        margin-top: 12px;
    }
}
.disabled > a, .disabled > a:focus, .disabled > a:hover, .disabled > span {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
}
.results-row {
	border-bottom: 1px solid #ccc;
	margin: 0 0 0 0px;
}
.text-right {
	text-align: right;
}
.text-center {
	text-align: center;
}
@media screen and (max-width: 768px) {
	.text-right {
		text-align: left;
	}
}
.result-highlight {
    color: #8CC841;
    border-bottom: 2px solid #8CC841;
    /*background: rgb(233, 241, 206);
    padding: 3px 10px;*/
}
.pt-active {
	background-color: rgba(206, 217, 224, 0.5);
	font-weight: bold;
}
.pt-tree-node-caret-none {
    position: relative;
    min-width: 18px;
    line-height: 30px !important;
}
.pt-tree-node:hover .pt-tree-node-content {
    background-color: rgba(206, 217, 224, 0.2);
}
.pt-active-default {
    background: #f7a42c;
    color: #fff;
}
.pt-active-default .pt-tree-node-content {
    color: #fff !important;
}
.pt-card-topic {
	padding: 15px 20px 15px 20px;
	border: 1px solid #ccc;
	width:100%;
	position: relative;
	background: #fff;
	text-align: left;
}
.pt-card-topic:hover {
    /*background: #eef4f8;*/
}
.pt-card-topic:hover h5 a {
    text-decoration: underline;
}
.pt-card-topic p {
	display: block;
	line-height:1.4em;
	font-size: 12px;
	color: #666;
}
.pt-tab-panel {
	margin-top: 0px;
}
.pt-card-topic h5 a {

}
.pt-card-topic h5 a .pt-icon-standard {
	position: absolute;
	top: 0px;
	right: 15px;
	font-size: 18px;
	line-height: 2.5;
}

.collapse-header .pt-icon-standard {
	color:#2973bd;
}
@media screen and (max-width: 768px) {
    .collapse-header {
        border: 0px solid red !important;
        padding: 0px 15px;
        font-size: 16px;
        line-height: 40px !important;
        box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 -1px 0 rgba(16, 22, 26, 0.1);
        background-color: #f5f8fa;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
        color: #182026;
        border-radius: 4px;
    }
    .collapse-header.mobile-search {
        border: none !important;
        padding: 0;
        font-size: 16px;
        line-height: 40px !important;
        box-shadow: none;
        background: none;
        color: #182026;
        border-radius: 4px;
        margin-top: 6px;
    }
    .filter-box h3 .pt-icon-standard {
        top: 8px;
        right: 15px;
        font-size: 18px;
        line-height: 1.5;
    }
    .pt-tree-node-content {
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        width: 100%;
        height: 50px;
        padding-right: 5px;
    }
    .filter-box .pt-tag {
        padding: 2px 30px 2px 10px;
        line-height: 25px;
        font-size: 14px;
        margin-bottom: 4px;
    }
    .filter-box .pt-tag-remove {
        font-size: 16px;
        top: 5px;
        right: 5px;
        opacity: 0.5;
        border: none;
        background: none;
        cursor: pointer;
        padding: 2px;
        color: inherit;
    }
    .pt-minimal.pt-category {
        padding: 0;
        border: 0;
        background: none !important;
    }
    .pt-minimal.pt-category .pt-tag-remove {
        padding: 0;
        margin: 0;
        position: relative;
        font-size: 14px;
        top: 0px;
        right: 0px;
    }
}
.collapse {
    display: none;
    /*padding : 5px;*/
}
.collapse.in {
    display: block;
    /*padding : 5px;*/
}
.location-list li {
	/*margin-bottom: 3px;*/
	height: 30px;
	line-height: 30px;
}
.pt-tree-node-label .pt-tag {
	width: 45px;
	text-align: center;
	display: inline-block;
}
.period-filter-input {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
}
.pt-control input:checked ~ .pt-control-indicator, .pt-control.pt-checkbox input:indeterminate ~ .pt-control-indicator {
    /*background-color: #8CC841;*/
}
.pt-control:hover input:checked ~ .pt-control-indicator, .pt-control:hover .pt-control.pt-checkbox input:indeterminate ~ .pt-control-indicator, .pt-control.pt-checkbox .pt-control:hover input:indeterminate ~ .pt-control-indicator, .pt-control.pt-checkbox:hover input:indeterminate ~ .pt-control-indicator {
    /*background-color: #8CC841;*/
}
.pt-control.pt-disabled {
    cursor: not-allowed;
    color: rgba(255, 255, 255, 0.5);
}
hr.small {
    margin:4px 0;
}
.search-helper {
    margin:0;
    text-align: right;
    font-size: 16px;
    padding-right: 20px;
    line-height: 30px;
}
 
 
/* --- ELEMENTS --- */
 
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #494444;
    padding: 10px 0;
    min-width: 200px;
}
#myDropdown2.dropdown-content {
    right:0;
    text-align: left;
}
.dropdown-content a {
    color: #fff;
    padding: 3px 20px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
    color: #222;
}
.show {
    display:block;
}
/* The Modal (background) */
.modal {
    display: none; 
    position: fixed; 
    z-index: 9999999; 
    /*padding-top: 100px;*/
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
	position: relative;
	background-color: #fefefe;
	margin: 10% auto;
	padding: 0;
	border: 1px solid #888;
	width: 60%;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
	from {top:-300px; opacity:0} 
	to {top:0; opacity:1}
}

@keyframes animatetop {
	from {top:-300px; opacity:0}
	to {top:0; opacity:1}
}
/* The Close Button */
.close {
	color: #aaa;
	float: right;
	font-size: 25px;
	font-weight: bold;
	line-height: 15px;
	position: absolute;
    right: 20px;
    top: 15px;
}
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.modal-header {
	padding: 15px 20px;
	background-color: #eef4f8;
	color: #182026;
	font-family: 'PT Sans Narrow', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.modal-header h2 {
	margin:0;
	font-size: 20px;
}

.modal-body {
	padding: 22px 20px;
}

.modal-footer {
	padding: 15px 20px;
	border-top: 1px solid #ccc;
}
table tbody tr th {
	text-align: left;
}


/* The container <div> - needed to position the dropdown content */
.dropdown-hover {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    width: auto
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
	 right: 0;
}

/* Links inside the dropdown */
.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown-hover:hover .dropdown-content {
    display: block;
}
.valider {
	display: inline-block;
	text-align:right;
	color: #f7a32c;
	
}
tr.dark td {
	background: #edf0f2;
	/*background: rgba(140,200,65,.10);*/
}
tr.edit td {
	/*background: #edf0f2;*/
	background: rgba(19, 124, 189, 0.15);
}
.pt-icon-standard.pt-icon-grid-view {
	font-size: 10px;
	line-height: 16px;
	width:16px;
	height: 16px;
	display: inline-block;
    text-align: center;
}
.pt-icon-standard.pt-icon-pause {
	-webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
h5 {
	font-size: 14px;
}
.pt-callout {
	padding:8px 10px;
}
.pt-callout h5, .pt-callout .pt-callout-title {
	padding: 6px 5px;
	border-bottom: 1px solid #ccc;
	margin:0;
}
.pt-callout table {
	margin: 0;
}
.pt-callout p {
	padding: 6px 5px;
}
.pt-callout.pt-intent-primary[class*="pt-icon-"]::before, .pt-callout.pt-intent-primary h5, .pt-callout.pt-intent-primary .pt-callout-title {
	color: inherit;
}
.pt-callout table.pt-table th, .pt-callout table.pt-table td {
	padding:6px 5px 6px 5px;
}
label.pt-label.pt-inline {
	margin: 0;
}
.pt-callout.pt-intent-warning {
    background-color: rgba(15,153,96,.10);
}
.pt-callout th {
	color: #777 !important;
}
.pt-callout-title {
	color: #777 !important;
}
h4 {
	color: #999;
	text-transform: uppercase;
	font-size: 12px;
	padding: 10px 0;
}
h4 span {
	color: #222;
}
.opened {
	background: rgba(138,155,168,.10);
}
.pt-callout {
	
}
.pt-callout.blue, tr.dark.blue td {
	background: rgba(19, 124, 189, 0.15);
}
/* The container <div> - needed to position the dropdown content */
.dropdown-hover {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 270px;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
	right: 0;
}

/* Links inside the dropdown */
.dropdown-content2 a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown-hover:hover .dropdown-content2 {
    display: block;
}
.indent1 {
	padding-left: 25px !important;
}
.nav-tabs {
	margin: 0 0 20px 0;
	padding:0;
	border-bottom: 2px solid #ddd;
}
.nav-tabs:after {
	clear: both;
}
.nav-tabs li {
	margin:0 5px -2px 0;
	padding:0;
	list-style: none;
	display: inline-block;
	background: red;
	border-radius: 5px 5px 0 0;
	background: #eee;
	border-bottom: 2px solid #ddd;
}
.nav-tabs li a {
	display: block;
	padding: 7px 20px;
	font-size: 16px;
}
.nav-tabs li.active {
	border-top: 2px solid #ddd;
	border-left: 2px solid #ddd;
	border-right: 2px solid #ddd;
	border-bottom: 2px solid #fff;
	background: #fff;
	border-radius: 5px 5px 0 0;
}
.pt-tree-node.pt-tree-node-selected > .pt-tree-node-content {
    background: rgba(140,200,65,.10);
}
.pt-tree-node.pt-tree-node-selected > .pt-tree-node-content, .pt-tree-node.pt-tree-node-selected > .pt-tree-node-content .pt-icon, .pt-tree-node.pt-tree-node-selected > .pt-tree-node-content .pt-icon-standard, .pt-tree-node.pt-tree-node-selected > .pt-tree-node-content .pt-icon-large {
    color: #666;
}
.pt-button.pt-minimal.pt-intent-primary {
	background: rgba(19, 124, 189, .15);
	color: #106ba3
}
.pt-button.pt-minimal.pt-intent-primary:hover {
	background: rgba(19, 124, 189, .25);
	color: #106ba3
}
.badge2 {
	padding: 2px 2px;
	background:  rgba(19, 124, 189, .15);
	display: inline-block;
	border-radius: 3px;
	color: #106ba3;
}
#overlay {
	background:rgba(255,255,255,0.75);
	width:100%;
	height:100%;
	position:fixed;
	top:0;
	left:0;
	z-index:2000;
}
.zindex {
	z-index: 3000;
}
.search-result {
	background: #eee;
	padding: 5px;
	margin-right: 5px;
	border-radius: 3px;
	color: #666;
}
th.rotate {
	height: 160px;
	white-space: nowrap;
	font-weight: normal !important;
}

th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(0px, 155px)
    /* 45 is really 360 - 45 */
    rotate(270deg);
  	width: 20px;
}


@media (min-width: 1280px) {
	.filter-box {
		max-width: 320px;
	}
}
@media (min-width: 1440px) {
	.filter-box {
		max-width: 370px;
	}
}
table.addrow tbody tr td:first-child {
	background: ;
	position: relative;
	text-align: right;
	vertical-align: middle;
}
.arrow {
	position: absolute;
	top: -14px;
	left: 0px;
	background: #cadeeb;
	color: #106ba3;
	border: none;
	border-radius: 0;
	height: 28px;
	line-height: 24px;
	margin-right: 0px;
	padding:3px 0px 0 6px;
	border-right: none;
}
.arrow:after {
    content: "";
    position: absolute;
    top: 0;
    right: -28px;
    border-style: solid;
    border-width: 14px;
    border-color: transparent transparent transparent #cadeeb;
}
.arrow span {
	color: #106ba3;
}
#top {
	display: none;
	position: fixed;
	bottom:10px;
	right:15px;
	z-index:9;
	padding:4px 8px;
}
.help {
	position: fixed;
	bottom: 50px;
	right: 15px;
	z-index:1;
	background: #f3e6d5;
	font-size: 17px;
	width: 30px;
	border-radius: 4px;
	padding:3px;
}
.help a {
	color: #2973bd;
	display: block;
	padding: 3px;
}
@media (max-width: 576px) {
	.help {
		position: fixed;
		bottom: 15px;
		left: 10px;
		right: auto;
		z-index: 1;
		background: #222;
		font-size: 17px;
		width: auto;
		border-bottom: 4px solid #555;
		border-radius: 4px;
	}
	.help .nav-link {
		display: inline-block;
		padding: .5em 1em;
	}
}
.pt-icon-drag-handle-vertical {
	cursor: move;
}
fieldset {
	border: none;
	margin: 0 0 15px 0;
	padding: 0 0 5px 0;
	border-bottom: solid 1px #ccc;
	background: ;
}
.form-section-nav {
	text-align: right;
	margin-bottom: 15px;
}
legend {
	font-size: 20px;
	font-weight: bold;
	font-family: "PT Sans Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 10px;
	text-align: left;
}

.reason label {
	margin: 0 1px 0 0;
	overflow: auto;
	padding: 0;
}
.reason label h3 {
	color: #2973bd;
	padding: 3px 0;
	margin:0;
}
.reason label input[type=radio] + span {
	padding:15px 15px 15px 45px;
	display: block;
	background: url(../images/radio-blank.png) no-repeat 12px 14px;
	border: 1px solid #ccc;
}
.reason label input[type=checkbox] + span {
	padding:15px 15px 15px 45px;
	display: block;
	background: url(../images/check-blank.png) no-repeat 12px 14px;
	border: 1px solid #ccc;
	cursor: pointer;
}
.reason label input {
	position: absolute;
	left: -9999px;
}

.reason input[type=radio]:checked + span {
	background:#d9ebf6 url(../images/radio-check.png) no-repeat 12px 14px;
	border: 1px solid #b5d7ea;
	border-radius: 4px;
}
.reason input[type=checkbox]:checked + span {
	background:#d9ebf6 url(../images/check-check.png) no-repeat 12px 14px;
	border: 1px solid #b5d7ea;
}
.reason .active {
	background-color:#fff;
	color:#0871b5;
	cursor: pointer;
	
}
.reason .active input[disabled] + span{
	background-color:#e7e7e7;
	color:#9d9d9d;
	cursor: default;
}

#dropzone {
  position: relative;
  border: 2px dashed #ccc;
  border-radius: 1px;
  color: #666;
  font: 18px/18px arial;
  height: 200px;
  margin: 0 auto 10px auto;
  text-align: center;
  width: 100%;
  background: #fefefe;
  padding: 55px 0;
}
#dropzone .pt-icon-standard {
	font-size: 45px;
	margin-bottom: 15px;
}

#dropzone [type="file"] {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.table-pivot.metadata tbody tr td {
    white-space: normal !important;
    text-align: left !important;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.pt-dialog {
    width: 800px;
}




.helper-menu {
	position: fixed;
	bottom: -250px;
	right: 0;
	width: 100%;
	height: 250px;
	transition: bottom 300ms;
}
.helper-visible {
	bottom:0px !important;
	transition: bottom 300ms;
}
.showmenu {
	display: block;
	background: #eee;
	width: 40px;
	height: 40px;
	padding: 11px;
	position: absolute;
	bottom: 249px;
	right: 5px;
	border-radius: 3px 3px 0 0;
	border-left: 1px solid red;
	border-top: 1px solid red;
	border-right: 1px solid red;
}
.themenu {
	position: relative;
	background: #eee;
	border-top: 1px solid red;
	width: 100%;
	height: 250px;
	padding: 15px 30px;
}
.green {
	color: green;
}
.text-center {
	text-align: center !important;
}
.actionbuttons {
	margin-bottom: 8px;
	
}
.actionbuttons .pt-button {
	line-height: 22px;
	border: 3px solid transparent;
}
.actionbuttons .active {
    /*background: #f7a42c !important;*/
    border: 3px solid #f7a42c !important;
}
.actionbuttons.cg .pt-button {
    line-height: 15px;
    width: 80px;
    height: 74px;
    font-size: 14px;
    padding: 6px;
}
.actionbuttons.cg .pt-button .pt-icon-standard {
    margin-bottom: 6px;
}
.page-inner-title {
    padding-top: 6px;
    border-top: 2px solid #999;
    margin: 1px 0 10px 0;
    font-size: 18px;
    font-family: Caecilia, Georgia, serif;
    font-weight: normal;
    color: #666;
}
.appmenu small {
	line-height: 14px;
    margin-top: 10px;
    display: block;
}
.appmenu hr {
	margin: 0;
}

.expandSearch{
  display: inline-block;
  position: relative;
  overflow: hidden;
}
.expandSearch i{
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px 4px 8px 8px ;
  color: #777;
  cursor: pointer;
  user-select: none;
  transition: 0.24s;
}
.expandSearch i:hover{
  color: #0bf;
}
.expandSearch input{
  border:none;
  background: transparent;
  font:14px/1.4 sans-serif;
  padding-left: 0px;
  background:#fff;
  border: none;
border-radius: 3px;
  transition: 0.24s;
  width: 0px;
  height: 30px;

}
.expandSearch input:focus{
  outline: none;
  width:300px;
padding: 0 10px;
  border: 1px solid #ddd;

}
.expandSearch input:focus + i{
  /*padding: 8px 4px 8px 8px ;*/
  color: #ddd;
  pointer-events: none;
}
.noshow {
    padding: 20px;
    background: #fff;
    text-align: left;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    margin:10px 0 10px 0;
    display: none;
    /*position: absolute;*/
    width: 100%;
}
.results .noshow {
    position: absolute;
}

.nav-tabs li.active {
	background: #fff !important;
}
.active3 {
    
    /*box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 2px solid #f7a42c;
    height: 42px;*/
}
.noshow .column {
    float: left;
    width: 33%;
    margin-right: 0;
}
.noshow .column:last-child {
    margin-right: 0;
}
.noshow .column ul {
    margin-bottom: 30px;
    padding: 0 0 0 10px;
}
.noshow li {
    display: block;
    margin: 0;
    line-height: 20px;
    text-transform: none;
    padding: 10px;
}
.noshow li a {
    margin: 0px 0px 0px 0px;
    color: #2973bd !important;
    display: block;
}
.noshow li a:hover {
    color: #4096ee;
    text-decoration: none;
    background: #eee;
}
.noshow li:hover {
    background: #eee;
}
.active2 {
    /*border: 2px solid #f7a42c;*/
}
.noshow li a span, .noshow li a:hover span {
    color: #555;
    font-weight: normal;
    font-size: 12px;
    display: block;
}
.flag {
    background: #888;
    padding: 1px 4px;
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
}
.footnote {
    font-size: 10px !important;
    font-weight: bold;
}
.footnote.case1 {
    color: #888;
}
.footnote.case2 {
    color: #fff;
}
.footnote.case3 {
    color: #888;
}
.footnote.case4 {
    color: #888;
}
.footnote.case5 {
    color: #888;
}
.table-pivot .highlighted .footnote, .table-pivot tr td:hover .footnote {
    color: #fff;
}
.closebox {
    float: right;
}
.tippitip {
	text-align: left !important;
	padding: 12px;
}
.tippitip ol {
	padding: 0 0 0 15px;
}
/* --- MATERIAL --- */

.mdl-button--fab.mdl-button--colored {
    background: #0965c1;
    color: rgb(255, 255, 255);
}
.pt-input {
    outline: none;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0), inset 0 1px 1px rgba(16, 22, 26, 0);
    background: #ffffff;
    height: 30px;
    padding: 0 10px;
    vertical-align: middle;
    line-height: 30px;
    color: #182026;
    font-size: 14px;
    font-weight: 400;
    /* transition: box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9); */
    appearance: none;
}
.edit .pt-input {
    outline: none;
    border: 1px solid #bbb;
    border-radius: 3px;
    box-shadow: 0 0 0 0 rgba(19, 124, 189, 0), 0 0 0 0 rgba(19, 124, 189, 0), inset 0 0 0 1px rgba(16, 22, 26, 0), inset 0 1px 1px rgba(16, 22, 26, 0);
    background: #ffffff;
    height: auto;
    padding: 0 10px;
    vertical-align: middle;
    line-height: 20px;
    color: #182026;
    font-size: 12px;
    font-weight: 400;
    /* transition: box-shadow 100ms cubic-bezier(0.4, 1, 0.75, 0.9); */
    appearance: none;
}
.edit .pt-select select {
    display: inline-block;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 10px;
    vertical-align: middle;
    font-size: 12px;
    box-shadow: inset 0 0 0 1px rgba(16, 22, 26, 0.2), inset 0 -1px 0 rgba(16, 22, 26, 0.1);
    background-color: #f5f8fa;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
    color: #182026;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 3px;
    height: 30px;
    padding: 0 25px 0 10px;
}
.mdl-menu.mdl-apps {
	width: 260px;
	color: #222;
}
.mdl-menu.mdl-apps hr {
	margin: 0;
}
.mdl-menu.mdl-apps small {
	line-height: 14px;
    display: block;
    margin-top: 7px;
}
.tippy-tooltip {
	font-size: 14px;
}
.closebox {
	float: right;
	z-index: 99;
}
.active {
	background: #eee;
}
.pagination li {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	height: 30px;
	border-radius: 30px;
}
.pagination li.active {
	background: #0965c1 !important;
	color: #fff;
}

.pagination li a {
	color: #444;
	display: inline-block;
	padding: 0 10px;
	line-height: 30px
	
}

.pagination li.active a {
	color: #fff
}

.pagination li.active {
	background-color: #ee6e73
}

.pagination li.disabled a {
	cursor: default;
	color: #999
}

.pagination li i {
	line-height: 2rem
}

.pagination li.pages ul li {
	display: inline-block;
	float: none
}

@media only screen and (max-width: 992px) {
	.pagination {
		width: 100%
	}
	.pagination li.prev,
	.pagination li.next {
		width: 10%
	}
	.pagination li.pages {
		width: 80%;
		overflow: hidden;
		white-space: nowrap
	}
}

.checkbox-menu li label {
    display: block;
    padding: 3px 10px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: #333;
    white-space: nowrap;
    margin:0;
    transition: background-color .4s ease;
}
.checkbox-menu li input {
    margin: 0px 5px;
    top: 2px;
    position: relative;
}

.checkbox-menu li.active label {
    background-color: #cbcbff;
    font-weight:bold;
}

.checkbox-menu li label:hover,
.checkbox-menu li label:focus {
    background-color: #f5f5f5;
}

.checkbox-menu li.active label:hover,
.checkbox-menu li.active label:focus {
    background-color: #b8b8ff;
}