@font-face {
	font-family: 'Bernini';
	font-weight: normal;
	font-style: normal;
	src: url(../fonts/BerniniSans-Web-OECD-Regular.eot);
	src: url(../fonts/BerniniSans-Web-OECD-Regular.eot?#iefix) format("embedded-opentype"), url(../fonts/BerniniSans-Web-OECD-Regular.woff) format("woff"), url(../fonts/BerniniSans-Web-OECD-Regular.ttf) format("truetype");
}
@font-face {
	font-family: 'Bernini';
	font-weight: bold;
	font-style: normal;
	src: url(../fonts/BerniniSans-Web-OECD-Bold.eot);
	src: url(../fonts/BerniniSans-Web-OECD-Bold.eot?#iefix) format("embedded-opentype"), url(../fonts/BerniniSans-Web-OECD-Bold.woff) format("woff"), url(../fonts/BerniniSans-Web-OECD-Bold.ttf) format("truetype");
}
@font-face {
	font-family: 'Bernini';
	font-weight: normal;
	font-style: italic;
	src: url(../fonts/BerniniSans-Web-OECD-Italic.eot);
	src: url(../fonts/BerniniSans-Web-OECD-Italic.eot?#iefix) format("embedded-opentype"), url(../fonts/BerniniSans-Web-OECD-Italic.woff) format("woff"), url(../fonts/BerniniSans-Web-OECD-Italic.ttf) format("truetype");
}

/* --- TABLE --- */ 

.tableFixHead {
	overflow-y: auto;
	height: 400px;
}
.tableFixHead th {
	position: sticky;
	top: 0;
	z-index: 1;
}

.table-pivot {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 12px;
	border: 1px solid #ddd;
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
	border-collapse: collapse;
	background: #fff;
	border-spacing: 0;
}
.table-pivot tr th {
	text-align: left;
	font-weight: normal;
	border-top: 0;
}
.table-pivot thead tr th {
	background: #c4d8ed;
	padding: 5.5px 5px;
	border: 1px solid #ddd;
	border-bottom: 1px solid #999;
	text-align: center;
}
.table-pivot .cell-right {
	text-align: right;
}
.table-pivot .cell-left {
	text-align: left;
}
.table-pivot .bold {
	font-weight: bold;
}
.table-pivot tbody tr:nth-child(2n-1) {
	/*background-color: #F3F7FB;*/
}
.table-pivot tbody tr:hover td {
	/*background: rgba(129,208,177,.3);*/
	background: #fcf8e3;
}
.table-pivot tbody tr:hover th {
	/*background: rgba(129,208,177,.3);*/
	background: #fcf8e3;
}

.table-pivot tbody tr th {
	background: #F3F7FB;
	color: #505050;
	border-right: 1px solid #ddd;
	border: 1px solid #ddd;
}
.table-pivot tbody tr td {
	white-space: nowrap;
	text-align: right;
	border: 1px solid #ddd;
	line-height: 1.42857143;
	vertical-align: top;
}
.table-pivot tr td, .table-pivot tr th {
	max-width: 250px;
	padding: 5px;
}
.table-pivot .indent-lv1 {
	padding-left: 15px;
	/*background: #fff;*/
}
.table-pivot .indent-lv1 + th {
	/*background: #fff;*/
}
.table-pivot .highlighted, .table-pivot tr td:hover {
	background: #0c69b0 !important;
	color: #fff !important;
}
.table-pivot .highlighted .pt-button.pt-minimal.pt-intent-primary, .table-pivot tr td:hover .pt-button.pt-minimal.pt-intent-primary {
	background: #d9ebf6 !important;

}

.table-pivot tbody tr.color01, .table-pivot tbody tr.color01 th {
	background: #4a8dcd !important;
	color: #fff;
}
.table-pivot tbody tr.color02, .table-pivot tbody tr.color02 th {
	background: #DEEAF5 !important;
}
.table-pivot tbody tr.color03, .table-pivot tbody tr.color03 th {
	background: #F3F7FB !important;
}
table .color04 {
	background: #fff !important;
}

/* --- RESPONSIVE --- */

.table-responsive {
	min-height: .01%;
	overflow-x: auto;
}
@media screen and (max-width: 767px) {
	.table-responsive {
		width: 100%;
		margin-bottom: 15px;
		overflow-y: hidden;
		-ms-overflow-style: -ms-autohiding-scrollbar;
		border: 1px solid #ddd;
		height:auto;
	}
	.table-responsive > .table-pivot {
		margin-bottom: 0;
	}
	.table-responsive > .table-pivot > thead > tr > th,
	.table-responsive > .table-pivot > tbody > tr > th,
	.table-responsive > .table-pivot > tfoot > tr > th,
	.table-responsive > .table-pivot > thead > tr > td,
	.table-responsive > .table-pivot > tbody > tr > td,
	.table-responsive > .table-pivot > tfoot > tr > td {
		
	}
	.table-responsive > .table-pivot {
		border: 0;
	}
	.table-responsive > .table-pivot > thead > tr > th:first-child,
	.table-responsive > .table-pivot > tbody > tr > th:first-child,
	.table-responsive > .table-pivot > tfoot > tr > th:first-child,
	.table-responsive > .table-pivot > thead > tr > td:first-child,
	.table-responsive > .table-pivot > tbody > tr > td:first-child,
	.table-responsive > .table-pivot > tfoot > tr > td:first-child {
		border-left: 0;
	}
	.table-responsive > .table-pivot > thead > tr > th:last-child,
	.table-responsive > .table-pivot > tbody > tr > th:last-child,
	.table-responsive > .table-pivot > tfoot > tr > th:last-child,
	.table-responsive > .table-pivot > thead > tr > td:last-child,
	.table-responsive > .table-pivot > tbody > tr > td:last-child,
	.table-responsive > .table-pivot > tfoot > tr > td:last-child {
		border-right: 0;
	}
	.table-responsive > .table-pivot > tbody > tr:last-child > th,
	.table-responsive > .table-pivot > tfoot > tr:last-child > th,
	.table-responsive > .table-pivot > tbody > tr:last-child > td,
	.table-responsive > .table-pivot > tfoot > tr:last-child > td {
		border-bottom: 0;
	}
}
.table-pivot .pt-icon-info-sign {
	font-size: 12px !important;
}