body {
    margin: 0 auto;

  }
  .breadcrumb{
    display: none;
  }
  #heading{
    display: none;
  }
  main .container {
    padding-left : 0;
    padding-right : 0;
  }
.ddp-root .list-filters li.active a{
  border-color: #0b71b0;
  background-color: #0b71b0;
  color: white;
  text-decoration: none; 
  padding-right: 0; 
}
.ddp-root .list-filters .active a:after { content: "\00D7";color: #bfe4fb; padding-left: 6px; padding-right: 6px;}
@media only screen and (min-width: 768px) { .ddp-root .list-filters .active a:after { padding-left: 6px; padding-right: 6px; } }
@media only screen and (min-width: 992px) { .ddp-root .list-filters .active a:after { padding-left: 10px; padding-right: 10px; } }
@media only screen and (min-width: 1200px) { .ddp-root .list-filters .active a:after { padding-left: 10px; padding-right: 10px; } }

.ddp-root .list-filters li.selected a{
  background-color: #eef4f8;
  color: #494444;
  border-color: #d7dade #d7dade #d7dade #0b71b0;
}
.ddp-root .lazyload {
  display: none;
}
.ddp-root .more-results{
  display: none;  
  width: 50%;
}
.centered{
    text-align:center;
}

#breadcrumbs {
  display: none;
}

/*hide advanced search temporary*/
.ddp-root .list-links a.link-advanced-search{
  display: none;
}

.ddp-root .search-main button.reset-search {
 display:none;
}

.ddp-root .search-main .list-links {
 display:none;
}

#hitsZoneTop .suggest{
  display: block;
  padding-left: 22px;
  line-height: 25px
}