.modal, .modal-backdrop {
	position: absolute !important;
}
.indent-lv1 {
	padding-left: 15px !important;
}
span.indent-lv1 {
	padding-left: 10px !important;
}
.variable {
	font-weight: ;
}
.measure {
	font-size: 12px;
	font-weight: bold;
	font-style: italic;
	color: #729f25;
}
tbody th, thead th {
	font-weight: normal;
}
.fa-circle {
	color: #1181d9;
	padding: 0 5px;
	vertical-align: middle;
	font-size: 5px;
}
.fa-minus {
	color: #1181d9;
	font-weight: normal;
	padding: 0 5px;
}
/* --- METADATA --- */

/*@media (min-width: 768px) {
	.modal-dialog {
		width: 1150px;
		margin: 30px auto;
	}
}*/
.mtop15 {
	margin-top: 15px;
}
.mbot15 {
	margin-bottom: 15px;
}

.modal-backdrop.in {
	filter: alpha(opacity=60);
	opacity: .60;
}
.modal-backdrop {
	background: #eef4f8;
	border: 10px solid #deeaf1;
}
.modal-header {
	background: #deeaf1;
	font-family: "Bernini Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: bold;
	color: #494444;
}
.modal-dialog {
	width: auto;
	max-width: 600px;
}

.ddp-root .dropdown-button.light:before, .ddp-root .dropdown-button.dark:before {
	content: '';
	float: right;
	padding-left: 5px;
	font-size: 80%;
	display: none;
}

.btn-grey {
	margin: 0 0 5.5px 0;
	display: inline-block;
	border-radius: 2px;
	border: 1px solid #d4d4d4;
	line-height: 28px;
	min-height: 30px;
	padding: 0 8px;
	vertical-align: baseline;
	color: #494444 !important;
	cursor: pointer;
	text-shadow: rgba(255, 255, 255, 0.5) 0 1px 0;
	background-color: #eeeeee;
	background-image: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
	background-image: linear-gradient(to bottom, #fbfbfb, #e1e1e1);
	font-weight: bold;
	text-decoration: none;
}
.btn-grey:hover {
	text-decoration: none;
	background-color: #f7f7f7;
	background-image: -webkit-linear-gradient(top, white, #eeeeee);
	background-image: linear-gradient(to bottom, white, #eeeeee);
}
btn-gery:focus {
	box-shadow: 0 0 4px rgba(11, 113, 176, 0.9);
	outline: 0;
	text-decoration: none;
}
.btn-grey:active {
	background-color: #e8e8e8;
	background-image: -webkit-linear-gradient(top, #e1e1e1, #eee);
	background-image: linear-gradient(to bottom, #e1e1e1, #eee);
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset;
	text-decoration: none;
}
.btn-grey:disabled {
	background-color: #f4f4f4;
	background-image: -webkit-linear-gradient(top, #fbfbfb, #eee);
	background-image: linear-gradient(to bottom, #fbfbfb, #eee);
	box-shadow: none;
	color: #978f8f;
	text-shadow: none;
	cursor: not-allowed;
}
.btn-grey:disabled:hover {
	background-color: #f4f4f4;
	background-image: -webkit-linear-gradient(top, #fbfbfb, #eee);
	background-image: linear-gradient(to bottom, #fbfbfb, #eee);
	box-shadow: none;
}
.btn-green {
	margin: 0 0 5.5px 0;
	display: inline-block;
	border-radius: 2px;
	border: 1px solid #688c28;
	line-height: 28px;
	min-height: 30px;
	padding: 0 8px;
	vertical-align: baseline;
	color: #fff !important;
	cursor: pointer;
	text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
	background-color: #85b433;
	background-image: -webkit-linear-gradient(top, #93c739, #76a02d);
	background-image: linear-gradient(to bottom, #93c739, #76a02d);
	font-weight: bold;
	text-decoration: none;
}
.btn-green:hover {
	text-decoration: none;
	background-color: #92c040;
	background-image: -webkit-linear-gradient(top, #9ecd4d, #85b433);
	background-image: linear-gradient(to bottom, #9ecd4d, #85b433);
	color: white;
}
btn-green:focus {
	box-shadow: 0 0 4px rgba(11, 113, 176, 0.9);
	outline: 0;
	text-decoration: none;
}
.btn-green:active {
	background-color: #7eaa30;
	background-image: -webkit-linear-gradient(top, #76a02d, #85b433);
	background-image: linear-gradient(to bottom, #76a02d, #85b433);
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset;
	text-decoration: none;
}
.btn-green:disabled {
	background-color: #8cbe36;
	background-image: -webkit-linear-gradient(top, #93c739, #85b433);
	background-image: linear-gradient(to bottom, #93c739, #85b433);
	box-shadow: none; color: white;
	text-shadow: none;
	cursor: not-allowed;
}
.btn-green:disabled:hover {
	background-color: #8cbe36;
	background-image: -webkit-linear-gradient(top, #93c739, #85b433);
	background-image: linear-gradient(to bottom, #93c739, #85b433);
	box-shadow: none;
}
.btn-blue, .ddp-root .btn-blue {
	margin: 0 0 5.5px 0;
	display: inline-block;
	border-radius: 2px;
	border: 1px solid #0b6eab;
	line-height: 28px;
	min-height: 30px;
	padding: 0 8px;
	vertical-align: baseline;
	color: #fff !important;
	cursor: pointer;
	text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
	background-color: #0b71b0;
	background-image: -webkit-linear-gradient(top, #0d80c8, #096298);
	background-image: linear-gradient(to bottom, #0d80c8, #096298);
	font-weight: bold;
	text-decoration: none;
}
.btn-blue:hover, .ddp-root .btn-blue:hover {
	text-decoration: none;
	background-color: #0c80c8;
	background-image: -webkit-linear-gradient(top, #0e90e0, #0b71b0);
	background-image: linear-gradient(to bottom, #0e90e0, #0b71b0);
	color: white;
}
btn-blue:focus {
	box-shadow: 0 0 4px rgba(11, 113, 176, 0.9);
	outline: 0;
	text-decoration: none;
}
.btn-blue:active {
	background-color: #0a69a4;
	background-image: -webkit-linear-gradient(top, #096298, #0b71b0);
	background-image: linear-gradient(to bottom, #096298, #0b71b0);
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px inset;
	text-decoration: none;
}
.btn-blue:disabled {
	background-color: #0c79bc;
	background-image: -webkit-linear-gradient(top, #0d80c8, #0b71b0);
	background-image: linear-gradient(to bottom, #0d80c8, #0b71b0);
	box-shadow: none;
	color: white;
	text-shadow: none;
	cursor: not-allowed;
}
.btn-blue:disabled:hover {
	background-color: #0c79bc;
	background-image: -webkit-linear-gradient(top, #0d80c8, #0b71b0);
	background-image: linear-gradient(to bottom, #0d80c8, #0b71b0);
	box-shadow: none;
}
.btn-sm {
	line-height: 20px;
	min-height: auto;
}
@media (min-width: 768px) {
	.row-eq-height {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
	}
}
.dark-bg {
	background: #666;
}

/* --- METADATA --- */

#demo .panel-default > .panel-heading {
    color: #686868;
    background-color: #f7f7f7;
    border-color: #f7f7f7;
    font-weight: bold;
    padding: 5px 15px;
}
.modal-body h3, #demo h3 {
	margin: 0 0 11px;
	border-bottom: 1px solid #494444;
	padding:11px 0 2px 0;
	color: inherit;
	clear: both;
	font-size: 14px;
	font-weight: bold;
	line-height: 22px;
	font-family: "Bernini Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #494444;
}
.modal-body .dark-bg h3, #demo .dark-bg h3 {
	color: #f6f6f6;
}
.modal-body h4,  #demo h4 {
	font-family: "Bernini Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	padding:0;
	margin:0;
}
.modal-body .box,  #demo .box {
	background: #fff;
	min-height: 150px;
	margin-bottom: 20px;
	overflow: hidden;
}
#sortable0, #sortable1, #sortable2, #sortable3, #sortable4 {
	list-style-type: none;
	margin: 0;
	float: left;
	margin-right: 10px;
	padding: 5px;
	width: 100%;
	min-height: 150px;
}
#sortable0 li, #sortable1 li, #sortable2 li, #sortable3 li, #sortable4 li {
	display: block;
	font-family: Caecilia, Georgia, serif;
	font-size: 14px;
	line-height: 30px;
}
#sortable0 li span, #sortable1 li span, #sortable2 li span, #sortable3 li span, #sortable4 li span {
	border: 1px solid #f6f6f6;
	border-radius: 2px;
	background-color: #f6f6f6;
	margin-bottom: 5.5px;
	padding: 5px 10px;
	cursor: all-scroll;
	color: #0b71b0;
}
.legend-item {
	color: #888;
	font-size: 11px;
	line-height: 20px;
	margin-right: 5px;
	/*float: left;*/
}
table.government tbody tr th {
	background: #eef4f8;
	color: #505050;
	border-right: 1px solid #ddd;
}
table.government tbody tr td {
	white-space: nowrap
}
table.government thead tr th {
	background: #deeaf1;
	padding: 5.5px !important;
	border-bottom: 1px solid #999;
	text-align: center;
}
.ddp-chart .table-chart-thead-th {
    border-bottom: 1px solid #999;
    padding: 5.5px;
    background-color: #deeaf1;
    text-align: left;
    vertical-align: top;
    color: #505050;
}
table.government tr td:hover {
	background: #0c69b0 !important;
	color: #fff;
}
table.government tr td:hover .legend-item, table.government tr td:hover a, table.government tr td:hover a:hover {
	color: #fff;
}
table tr:first-child td:hover {
	
}
/*table#example {
	max-width:auto;
	width:auto;
}
#example thead tr th {
	width:250px;
}
#example thead tr th[colspan] {
	width:500px;
	min-width:250px;
}

#example tbody tr th:nth-child(n) {
	border:1px solid #ccc;
	font-weight: normal;
	font-size: 11px;
}
#example tbody tr th[rowspan] {
	border:1px solid #ccc;
	font-weight: bold;
	font-size: 12px;
}*/

.highlighted, .highlighted a, .highlighted a:hover, .highlighted .legend-item {
	background:#0c69b0 !important;
	color: #fff;
}
.more-section + .link-more {
    display: block;
    margin-top: 0px;
	outline: none !important;
}
.collapse.more-section {
    display: block;
    height: 40px !important;
    overflow: hidden;
	line-height: 18px;
}
.bigtitle {
	color: #666;
	font-size: 11px;
	font-weight: bold;
	font-family: "Bernini Narrow", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 18px !important;
	
}
.collapse.more-section.in {
    display: block;
    height: auto !important;
    overflow: hidden;
	padding-bottom: 10px;

}
.collapse.in.more-section.closed:after {
	background: none;
}
a:focus {
	outline: none !important;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: 0px !important;
}
.ddp-root .indicator-chart-wrapper .chart-header {
    min-height: auto;
	margin-bottom: 5px;
}
.dropdown-menu.dark {
	background-color: #494444;
	padding: 10px 0;
	min-width: 200px;
}
.dropdown-menu.dark li a {
	color: white;
	font-family: Caecilia, Georgia, serif;
    font-size: 14px;
}
.dropdown-menu.dark li a:hover {
	color: #494444;
}
.tooltip {
	z-index: 9999;
}

/* --- collapse horizontal --- */

.collapse {
  display: none;
  visibility: hidden;
}
.collapse.in {
  display: block;
  visibility: visible;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.collapsing.width {
  -webkit-transition-property: width, visibility;
  transition-property: width, visibility;
  width: 0;
  height: auto;
  -webkit-transition: width 0.25s ease;
    -moz-transition: width 0.25s ease;
    -o-transition: width 0.25s ease;
    transition: width 0.25s ease;
}

table.government tr th, table.government tr td {
	font-size: 12px !important;
}
table.government tr td {
	text-align: right;
}

.ddp-root .line-top {
    border-top: 2px solid #999;
    padding-top: 2px;
    margin-bottom: 15px;
    font-size: 13px;
}
.ddp-root .list-filters {
	position: relative;
}

.ddp-root .list-filters a {
    display: block;
    border: 1px solid #f6f6f6;
    border-radius: 2px;
    background-color: #f6f6f6;
    font-family: Caecilia, Georgia, serif;
    font-size: 12px;
    line-height: 30px;
}
.list-filters li.active a:after {
    content: "\00D7";
    color: #bfe4fb;
    padding-left: 6px;
    padding-right: 6px;
    position: absolute;
    right: 6px;
}
.chart-types-item i {
	font-size: 20px;
	margin-right: 5px;
}
.filters-sidebar {
	font-size: 12px;
}
.ddp-root .header-statistics-inner {
	padding: 11px 0;
}