
.icon-concept:before { content: '\e800'; } /* '' */
.icon-data-structure:before { content: '\e801'; } /* '' */
.icon-data-view:before { content: '\e802'; } /* '' */
.icon-api:before { content: '\e803'; } /* '' */
.icon-fullscreen:before { content: '\e804'; } /* '' */
.icon-fullscreen-exit:before { content: '\e805'; } /* '' */
.icon-settings:before { content: '\e806'; } /* '' */
.icon-import:before { content: '\e807'; } /* '' */
.icon-share-variant:before { content: '\e808'; } /* '' */
.icon-asterisk:before { content: '\e809'; } /* '' */
.icon-cancel:before { content: '\e80a'; } /* '' */
.icon-more-v:before { content: '\e80b'; } /* '' */
.icon-eye-open:before { content: '\e80c'; } /* '' */
.icon-refresh:before { content: '\e80d'; } /* '' */
.icon-bar:before { content: '\e80e'; } /* '' */
.icon-row:before { content: '\e80f'; } /* '' */
.icon-log-in:before { content: '\e810'; } /* '' */
.icon-log-out:before { content: '\e811'; } /* '' */
.icon-upload:before { content: '\e812'; } /* '' */
.icon-hsymbol2:before { content: '\e814'; } /* '' */
.icon-vsymbol2:before { content: '\e815'; } /* '' */
.icon-scatter2:before { content: '\e816'; } /* '' */
.icon-timeline2:before { content: '\e818'; } /* '' */
.icon-data-structure-1:before { content: '\e82f'; } /* '' */
.icon-layers:before { content: '\e830'; } /* '' */
.icon-tick:before { content: '\e831'; } /* '' */
.icon-back:before { content: '\e832'; } /* '' */
.icon-eye-no:before { content: '\e833'; } /* '' */
.icon-table:before { content: '\e834'; } /* '' */
.icon-row-layout:before { content: '\e835'; } /* '' */
.icon-section-layout:before { content: '\e836'; } /* '' */
.icon-column-layout:before { content: '\e837'; } /* '' */
.icon-circle-arrow-down:before { content: '\e838'; } /* '' */
.icon-info-sign:before { content: '\e839'; } /* '' */
.icon-help:before { content: '\e83a'; } /* '' */
.icon-chevron-down:before { content: '\e83b'; } /* '' */
.icon-chevron-up:before { content: '\e83c'; } /* '' */
.icon-chevron-left:before { content: '\e83d'; } /* '' */
.icon-chevron-right:before { content: '\e83e'; } /* '' */
.icon-sort-asc:before { content: '\e83f'; } /* '' */
.icon-sort-desc:before { content: '\e840'; } /* '' */
.icon-arrow-left:before { content: '\e842'; } /* '' */
.icon-arrow-right:before { content: '\e843'; } /* '' */
.icon-search:before { content: '\e844'; } /* '' */
.icon-caret-down:before { content: '\e845'; } /* '' */
.icon-caret-up:before { content: '\e846'; } /* '' */
.icon-import-1:before { content: '\e847'; } /* '' */
.icon-create:before { content: '\e848'; } /* '' */
.icon-tick-circled:before { content: '\e84b'; } /* '' */
.icon-ban-circled:before { content: '\e84c'; } /* '' */
.icon-chevron-left-first:before { content: '\e856'; } /* '' */
.icon-chevron-right-last:before { content: '\e857'; } /* '' */
.icon-more:before { content: '\e858'; } /* '' */
.icon-dot:before { content: '\e859'; } /* '' */
.icon-error:before { content: '\e881'; } /* '' */
.icon-bookmark:before { content: '\e882'; } /* '' */
.icon-bookmark-outline:before { content: '\e883'; } /* '' */
.icon-filter:before { content: '\e884'; } /* '' */