/**
 * Body CSS
 */

html,
body {
  height: 100%;
  background-color: #eee;
}

html,
body,
input,
textarea,
buttons {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Layout CSS
 */
a {
    text-decoration: none;
    color: #0965c1;
}
a:hover, a.hover {
	color: #0e90e0;
	text-decoration: none;
}
#header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  transition: left 0.2s;
}

#sidedrawer {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 200px;
  left: -200px;
  overflow: auto;
  z-index: 2;
  background-color: #fff;
  transition: transform 0.2s;
}

#content-wrapper {
  min-height: 100%;
  overflow-x: hidden;
  margin-left: 0px;
  transition: margin-left 0.2s;
  
  /* sticky bottom */
  box-sizing: border-box;
  margin-bottom: -160px;
  padding-bottom: 160px;
}

#footer {
  box-sizing: border-box;
  height: 160px;
  margin-left: 0px;
  transition: margin-left 0.2s;
}

@media (min-width: 768px) {
  #header {
    left: 200px;
  }
  
  #sidedrawer {
    transform: translate(200px);
  }
  
  #content-wrapper {
    margin-left: 200px;
  }
  
  #footer {
    margin-left: 200px;
  }
  
  body.hide-sidedrawer #header {
    left: 0;
  }
  
  body.hide-sidedrawer #sidedrawer {
    transform: translate(0px);
  }
  
  body.hide-sidedrawer #content-wrapper {
    margin-left: 0;
  }
  
  body.hide-sidedrawer #footer {
    margin-left: 0;
  }
}


/**
 * Toggle Sidedrawer
 */
#sidedrawer.active {
  transform: translate(200px);
}


/**
 * Header CSS
 */

.sidedrawer-toggle {
  color: #fff;
  cursor: pointer;
  font-size: 20px;
  line-height: 20px;
  margin-right: 10px;
}

.sidedrawer-toggle:hover {
  color: #fff;
  text-decoration: none;
}


/**
 * Sidedrawer CSS
 */

#sidedrawer-brand {
  padding-left: 20px;
}

#sidedrawer ul {
  list-style: none;
}

#sidedrawer > ul {
  padding-left: 0px;
}

#sidedrawer > ul > li:first-child {
  padding-top: 15px;
}

#sidedrawer strong {
  display: block;
  padding: 15px 22px;
  cursor: pointer;
}

#sidedrawer strong:hover {
  background-color: #E0E0E0;
}

#sidedrawer strong + ul > li {
  padding: 6px 0px;
}


/**
 * Footer CSS
 */

#footer {
  background-color: #0288D1;
  color: #fff;
}

#footer a {
  color: #fff;
  text-decoration: underline;
}
.mui-appbar {
	background: #0965c1;
}

html {
	
}
body {
	
}
.demo-icon {
	/*font-size: 20px;*/
}
.i-code {
    display: none;
}
h2.ui {
	font-weight: normal;
	font-size: 23px;
	margin: 15px 0px;
}
h3.ui {
    font-size: 20px;
    color: #222;
    padding:0 0 10px 0;
    margin:0 0 40px 0;
    line-height: 24px;
    position: relative;
    text-transform: uppercase;
}
h3.ui:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 75px;
    height: 6px;
    background: #0965c1;
    content: '';
    border-radius: 10px;
}
.mui-panel {
	padding: 25px;
	margin-bottom: 40px;
}
pre {
	overflow-x: auto;
	padding: 5px 15px;
	font-size: 14px;
	line-height: 1.5em;
	background: #f5f5f5;
	border:1px solid #e4e4e4;
	color: #222;
	border-radius: 3px;
	margin: 0 0 15px 0;
}
code {
	
}
.de-btn-default {
	background: #fff;
	color: #0965c1;
	min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    padding: 0 10px;
    font-size: 14px;
    display: inline-block;
    border-radius: 3px;
    text-align: left;
}
.de-btn-default:hover, .de-btn-default.hover {
	background: #e2f2fb;
	color: #0965c1;
}
.de-btn-default i {
	    margin-right: 10px;
}
.de-btn-facet {
	display: block;
    color: #fff;
    float: left;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    margin: 5px 0;
    width: 100%;
    min-height: 43px;
    background-color: #0549ab;
    border-radius: 3px;
    padding: 6px 17px 4px 17px;
    line-height: 16px;
    position: relative;
}
.de-btn-facet:hover, .de-btn-facet.hover {
	background: #f7a42c;
	color: #fff;
}
a.de-btn-facet .pt-icon-standard {
	right: 13px;
	position: absolute;
	top: 7px;
}
.de-btn-primary {
    background-color: #0965c1;
    color: #ffffff;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 10px;
    vertical-align: middle;
    font-size: 14px;
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    display: inline-block;
    margin-bottom: 10px;
}
.de-btn-primary:hover, .de-btn-primary.hover {
	color: #ffffff;
	background-color:#f7a42c;
}
.de-btn-secondary {
    background-color: #f5f8fa;
    color: #182026;
    border-radius: 3px;
    cursor: pointer;
    padding: 0 10px;
    vertical-align: middle;
    font-size: 14px;
    min-width: 30px;
    min-height: 30px;
    line-height: 30px;
    display: inline-block;
}
.de-btn-secondary:hover, .de-btn-secondary.hover {
	color: #182026;
	background-clip:padding-box;
	background-color:#ebf1f5;
}
.de-btn-lg {
	min-width: 40px;
    min-height: 40px;
    line-height: 40px;
    padding: 0 15px;
    font-size: 16px;
}
.pt-input {
	border: 1px solid #aaa;
	box-shadow: none;
	transition: none;
}
.pt-select select, .pt-select select:hover {
    border: 1px solid #aaa;
    box-shadow: none;
    background-color: #fff;
    background-image: none;
    color: #182026;
}
label {
    margin-bottom: 0;
}
.w100 {
	width: 100%;
}
.notyf, .notyf__wrapper {
    color: #fff;
}
.example {
	padding: 1.5rem;
    margin-right: 0;
    margin-left: 0;
    border-width: .2rem;
    border: solid #f8f9fa;
}
ul {
	padding: 0 0 0 16px;
}
.bg-light {
	background: #f8f9fa;
}
.bg-light img {
	-webkit-box-shadow: 0 2px 15px 2px #B8B8B8;
	box-shadow: 0 2px 15px 2px #B8B8B8;
}
.demo-card-event.mdl-card {
  width: 256px;
  height: 256px;
  background: #3E4EB8;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}
.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}
.dynamic-color.col-md-4 div {
    padding: 7px 20px 7px 20px;
    color: #182026;
}